<%- include('partials/header')%>
<body>
    <div class="main">

        <%- include('partials/navleft')%>


        <%- include('partials/navtop')%>

            <div class="main-right-bottom">
                <div class="main-right-bottom-left">
                    <%- include('partials/postuplode')%>

                    <%- include('partials/postsection')%>

            </div>
            <div class="main-right-bottom-right main-chat">
                <div class="main-right-bottom-right-top">
                    <h4>Messages(2)</h4>
                </div>
                <div class="main-right-chat-search">
                    <form action="#">
                        <input type="search" placeholder="Search...">
                        <i class="ri-search-line chat-search"></i>
                    </form>
                </div>
                <hr>
                <div class="main-chat-bottom">
                    <a href="/user-chat">
                        <div class="main-chat-user">
                          <div class="main-chat-user-left">
                              <img src="https://images.unsplash.com/photo-1678384027714-e89a953d7ae2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
                          </div>
                          <div class="main-chat-user-right">
                              <div class="main-chat-user-right-top">
                                  <h3>Ritik Beldar</h3>
                                  <p>1m</p>
                              </div>
                              <div class="main-chat-user-right-bottom">
                                  <p>hello hyee im am and meet up in the...</p>
                              </div>
                          </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        </div>

        <%- include('partials/like-comm')%>

    </div>
    <%- include('partials/fotter')%>