<%- include('partials/header')%>
<body>
    <div class="main">

        <%- include('partials/navleft')%>


        <%- include('partials/navtop')%>

            <div class="main-right-bottom">
                <div class="main-right-bottom-left">
                    <%- include('partials/postuplode')%>

                    <%- include('partials/postsection')%>

            </div>
            <%- include('partials/notipar')%>
        </div>
        </div>
        <%- include('partials/like-comm')%>

    </div>
    <%- include('partials/fotter')%>