<%- include('partials/header')%>
<body>
    <div class="main">

        <%- include('partials/navleft')%>


        <%- include('partials/navtop')%>

            <div class="main-right-bottom">
                <div class="main-right-bottom-left">
                    <%- include('partials/postuplode')%>

                    <%- include('partials/postsection')%>

            </div>
         
            <div class="main-right-bottom-right profile-main-right-bottom-right">
                <div class="main-right-bottom-right-top">
                    <h4>Profile</h4>
                </div>
                <div class="profile-main-right-bottom-right-bottom">
                <div class="profile-main-right-bottom-right-bottom-bg-img">
                    <img src="https://images.unsplash.com/photo-1678481642675-4008af285081?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80" alt="">
                </div>
                <div class="home-profile-page-name-bottom">
                    <div class="home-profile-page-name-bottom-name">
                        <h3>Ritik Beldar</h3>
                        <h4>Deparment of computer science</h4>
                        <h5>aal lage basti me hum to masti me</h5>
                    </div>
                    <hr>
                    <div class="home-profile-page-name-bottom-follow">
                        <span class="Followers-button"><h5>200</h5><p>Following</p></span>
                        <span class="following-button"><h5>200</h5><p>Followers</p></span>
                    </div>
                    <hr>
                    <div class="main-profile-dp-center-insta">
                        <a href="#"><i class="ri-youtube-line"></i></a>
                        <a href="#"><i class="ri-instagram-line"></i></a>
                        <a href="#"><i class="ri-linkedin-line"></i></a>
                    </div>
                    <div class="home-pro-view">
                        <a href="/profile-main">More...</a>
                    </div>
                </div>
            </div>

        </div>
        </div>
        </div>
        <!-- followers following pages start -->
        
       <%- include('partials/follow-ing')%>

       <!-- followers following pages end -->

       <%- include('partials/like-comm')%>

    </div>
    <%- include('partials/fotter')%>